
  <div class="blog-post tile <%= blog.topic_id%> " data-category="<%= blog.topic_id %>" style="background: url(http://cdn.images.express.co.uk/img/dynamic/135/590x/cruise-holidays-trends-shaking-old-people-image-788690.jpg); max-width: 100%;">
    <div class="blog-tile-bg" >
    <h2 class="blog-post-title"><%= link_to  blog.title.upcase, blog %></h2>
  	 
    <p class="blog-post-meta"><%= 'Published ' + distance_of_time_in_words(blog.created_at, Time.now) + ' ago' %></p>
      
    <% if logged_in?(:site_admin) %>
    	<p class="blog-post-meta">
  		<%= link_to blog.status, toggle_status_blog_path(blog) %> / 
  		<!--
      <%= link_to 'Edit', edit_blog_path(blog) %> / 
  		<%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
      --> </p>
  	<% end %>
    <%= link_to blog do %>
      <span class="icon"><i class="material-icons">arrow_forward</i></span>
      <% end %>
    </div>
  </div>




  <!-- <%= paginate @blogs, theme: 'twitter-bootstrap-4' %> -->


