<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=592dc9ffde4761001225d3fd&product=sticky-share-buttons"></script>
<div class="col-sm-12 blog-main">
   

   <nav class="breadcrumb">
    <%= link_to "Home", root_path, class: "breadcrumb-item" %>
    <%= link_to @blog.topic.title, topic_path(@blog.topic), class: "breadcrumb-item" %>
    <span class="breadcrumb-item active"><%= @blog.title %></span>

    <span class="pull-right">
    <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) if logged_in?(:site_admin) %>
    <%= link_to fa_icon('trash'), @blog, method: :delete, data: {confirm: 'Are you sure you want to delete this post?'} if logged_in?(:site_admin) %>
    </span>
    
    
   </nav>


   <div class="blog-body">

   <% if @blog.image? %>

      <%= image_tag(@blog.image, class: 'blog-image') %>

    

    <% end %> 


     <h2 style="color: black;margin-top: 50px;"><%= @blog.title %></h2>

     <p class="blog-topic-title"><%= @blog.topic.title %></p>
      
    </div>
     

     <hr>
     <div class="row">
     <p>
     	<%= markdown @blog.body %>
     </p>
     </div>

   <%= render 'comments/comment_form' %>
   
     <div id="comments" data-blog-id="<%= @blog.id %>">
      <%= render @blog.comments %>
     </div>

   <br>

   <%= link_to 'Back', blogs_path %>
</div>




