<div class="container portfolio-container">
	<div class="row">
		<div class="col-md-7 main-image">
			<%= image_tag  portfolio_img(@portfolio_item.main_image, 'main') 
		 %>
		</div>

		<div class="col-md-5 show-text">
			<h1 style="color: #f44336; font-family: Kilogram"><%= @portfolio_item.title %></h1>

			<div class="blend">
				<em><%= @portfolio_item.subtitle %></em>

				<p><%= @portfolio_item.body %></p>

				<h3>Technologies Used</h3>

				<% @portfolio_item.technologies.each do |t| %>
					<p><%= t.name %></p>
				<% end %>
			</div>

			<% if logged_in? (:site_admin) %>
				<div >
				<%= link_to "Edit Item", edit_portfolio_path(@portfolio_item),class: "btn btn-warning" %>
				</div>
			<% end %>
			
		</div>
		
	</div>
</div>