<div class="blog-masthead">
	<div class="container">
  	<div class="pos-f-t">
  		<div class="collapse" id="navbarToggleExternalContent">
    		<nav class="nav blog-nav  navbar-collapse">
					<%= nav_helper 'nav-link' , 'span' %>
	        <%= login_helper 'nav-link' %>
    		</nav>
    		<div class="social-nav">
   <!--  <h4>Elsewhere</h4> -->
    			<ol class="list-unstyled social-link">
      			<li><a href="https://github.com/Tlmolenaar"><%= fa_icon "github"%></a></li>
      			<li><a href="https://twitter.com/ThoMol84"><%= fa_icon "twitter"%></a></li>
      			<li><a href="https://www.linkedin.com/in/thomas-molenaar-44b9a418/"><%= fa_icon "linkedin"%></a></li>
    			</ol>
  			</div>
  		</div>
  		<nav class="navbar navbar-inverse ">
    		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="border: none">
      		<i class="material-icons" style="color: white; font-size: 35px;">&#xE896;</i>
				</button>
  		</nav>
		</div>
  </div>
</div>

